<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8TF85TLT7V"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8TF85TLT7V');
  </script>
  
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css">

</head>

<body>
  <table
    style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Edward Hyeonbeen Lee
              </h1>
              <p>
                I am an incoming PhD student at <a href="https://www.vt.edu/" target="_blank">Virginia Tech</a>,
                where I'll work with <a href="https://simonstepputtis.com/" target="_blank">Prof. Simon
                  Stepputtis</a> in the <a href="https://tealab.ai/" target="_blank">TEA Lab</a>. My research interests include
                physics-aware machine learning and neurosymbolic AI for contact-rich robotics.
              </p>
              </p>
              <!-- <p> <u><b>희쨩 loves meowl, hyeonbeen and food!!!!!!!!!!!!!!!</b></u> </p> -->
              <p>
                Before joining Virginia Tech, I received my B.Eng. and M.Eng. degrees in Mechanical Engineering from <a
                  href="https://www.khu.ac.kr/eng/user/main/view.do" target="_blank">Kyung Hee University</a>, where I
                was advised by <a href="https://www.jin-gyun-kim.com/" target="_blank">Prof. Jin-Gyun
                  Kim</a> in the <a href="https://sites.google.com/site/modelingnsimulation/home"
                  target="_blank">Modeling & Simulation Lab</a>. During my master's studies, I was also mentored by <a href="https://scholar.google.com/citations?user=6VAgYOYAAAAJ" target="_blank">Prof. Hee-Sun Choi</a> at <a href="https://en.sejong.ac.kr/eng/index.do" target="_blank">Sejong University</a> and <a href="https://sites.google.com/view/imbd-lab/people?authuser=0" target="_blank">Prof. Seongji Han</a> at <a href="https://plus.cnu.ac.kr/html/en/" target="_blank">Chungnam National University</a>. In 2023, I was fortunate to work with <a
                  href="https://clvrai.com/web_lim/" target="_blank">Prof. Joseph Lim</a> in the <a
                  href="https://www.clvrai.com/" target="_blank">CLVR Lab</a> at <a href="https://gsai.kaist.ac.kr/"
                  target="_blank">KAIST AI</a>.
              </p>
              <p>I usually go by Edward, but you can also call me Hyeonbeen, which is my given name in South Korea. </p>
              <p style="text-align:center">
                <a href="mailto:edwardlee@vt.edu" target="_blank">edwardlee [at] vt.edu</a> &nbsp;/&nbsp;
                <a href="pdfs/HyeonbeenLee_CV.pdf" target="_blank">CV</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=puK1rBEAAAAJ" target="_blank">Scholar</a>
                &nbsp;/&nbsp;
                <!-- <a href="https://orcid.org/0009-0002-6088-3119" target="_blank">ORCID</a> &nbsp;/&nbsp; -->
                <a href="https://www.linkedin.com/in/leehyeonbeen/" target="_blank">LinkedIn</a> &nbsp;/&nbsp;
                <a href="https://github.com/leehyeonbeen/" target="_blank">GitHub</a>
                
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/hyeonbeen_circle_cropped.png">
            </td>
          </tr>
        </table>

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm currently interested in developing physics-aware neurosymbolic policies for efficient, interpretable, and generalizable
                control of robot-environment interactions. At Kyung Hee University, I worked on data-driven
                modeling of nonlinear dynamics in contact- and vibration-rich physical systems.
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>
                {% if post.link %}
                <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                {% else %}
                {{ post.title }}
                {% endif %}
              </h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">[arXiv]</a> /
              {% endif %}
              {% if post.pdf %}
              <a href="{{post.pdf}}" target="_blank">[pdf]</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">[video]</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">[code]</a>{% if post.poster or post.slides or post.website or
              post.youtube %} /{% endif %}
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">[poster]</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">[slides]</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">[website]</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">[youtube]</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>


        <!-- <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p>
                
              </p>
            </td>
          </tr>
        </table>
        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>
                {% if post.link %}
                <a href="{{ post.link }}" target="_blank">{{ post.title }}</a>
                {% else %}
                {{ post.title }}
                {% endif %}
              </h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}" target="_blank">[arxiv]</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}" target="_blank">[video]</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}" target="_blank">[code]</a>{% if post.poster or post.slides or post.website or
              post.youtube %} /{% endif %}
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}" target="_blank">[poster]</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}" target="_blank">[slides]</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}" target="_blank">[website]</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}" target="_blank">[youtube]</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br> -->

        <table
          style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's
                  website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
